.about-section {
  padding: 5rem 0;
  background-color: #121212;
}

.about-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.about-text {
  flex: 1;
  text-align: left;
}

.about-text h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #d4af37;
}

.about-text p {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.about-text ul {
  margin-left: 1rem;
  list-style-type: none;
}

.about-text li {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  /* display: flex; */
  align-items: flex-start;
}

.about-text li::before {
  content: "•";
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.about-text strong {
  font-weight: 500;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }
}